<div class="container">
  <div class="header-main">
    <h1 class="title">{{#link-to 'homepage'}}BUSTLE{{/link-to}}</h1>
  <nav class='navbar navbar-default' role='navigation'>

    <ul class='nav navbar-nav'>
      <li>{{#link-to 'news'}}NEWS{{/link-to}}</li>
      <li>{{#link-to 'entertainment'}}ENTERTAINMENT{{/link-to}}</li>
      <li>{{#link-to 'fashion'}}FASHION & BEAUTY{{/link-to}}</li>
      <li>{{#link-to 'lifestyle'}}LIFESTYLE{{/link-to}}</li>
      <li>{{#link-to 'books'}}BOOKS{{/link-to}}</li>
      <li>{{#link-to 'explore'}}EXPLORE{{/link-to}}</li>
      <li class="icons" {{action 'hoverMenu' on="mouseEnter"}}><img src="facebook.png" alt="facebook" /><img src="twitter.png" alt="twitter" /><img src="pinterest.png" alt="pinterest" /></li>
    </ul>
  </nav>
  
</div>
<div class="icon-drop-down hidden ">
  
    <span>Stuff</span>
    <span>Stuff</span>
    <span>Stuff</span>
 
  </div>
  {{outlet}}
</div>
