<div class="container">
  <div class="header-main">
    <h1 class="title">BUSTLE</h1>
  <nav class='navbar navbar-default' role='navigation'>

    <ul class='nav navbar-nav'>
      <li>{{#link-to 'news'}}NEWS{{/link-to}}</li>
      <li>{{#link-to 'entertainment'}}ENTERTAINMENT{{/link-to}}</li>
      <li>{{#link-to 'fashion'}}FASHION & BEAUTY{{/link-to}}</li>
      <li>{{#link-to 'lifestyle'}}LIFESTYLE{{/link-to}}</li>
      <li>{{#link-to 'books'}}BOOKS{{/link-to}}</li>
      <li>{{#link-to 'explore'}}EXPLORE{{/link-to}}</li>
      <li class="icons"><img src="facebook.png" alt="facebook" /><img src="twitter.png" alt="twitter" /><img src="pinterest.png" alt="pinterest" /></li>


    </ul>
  </nav>
</div>
  {{outlet}}
</div>
