
  <div class="row">
    <div class="main col-md-10 col-md-offset-1">

      <div class="article col-md-6"><span class="headline-snippets"><a href="#/news">This is headline one</a></span></div>
      <div class="article1 col-md-6"></div>

      <div class="article col-md-6"></div>
      <div class="article1 col-md-6"></div>
  </div>
</div>
