
  <div class="row">


    <div class="main col-md-10 col-md-offset-1">


        <div class="article col-md-6"></div>
        <div class="article1 col-md-6"></div>



<!--
    <ul>
      <li><a href="#">Story 1</a></li>
      <li><a href="#">Story 2</a></li>
      <li><a href="#">Story 3</a></li>
      <li><a href="#">Story 4</a></li>

    </ul> -->
  </div>



  </div>
